# Xcode
#
# gitignore contributors: remember to keep this file compatible with bash and zsh.
#
# Get latest from https://github.com/github/gitignore/blob/main/Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file.
# It can be safely ignored.
.swiftpm/

# Cocoapods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts
Carthage/Build

# Accio
#
# Add this line if you want to avoid checking in source code from Accio dependencies.
# Dependencies/

# fastlane
#
# It is recommended to not store sensitive data in fastlane files.
# You are responsible for protecting your sensitive data.
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/BestPractices.md
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# End of https://www.toptal.com/developers/gitignore/api/swift
